In [2]:
import pandas as pd
import torch 
import numpy as np
from scipy.io import mmread

In [3]:
# Read matrix

In [4]:
#matrix_dp = mmread('/home/junyi/code/treevae/data/Variant/trimmed_starsolo_chrM_cellSNP0_WaldVariant_paperCell/passed_dp.mtx')
#matrix_ad = mmread('/home/junyi/code/treevae/data/Variant/trimmed_starsolo_chrM_cellSNP0_WaldVariant_paperCell/passed_ad.mtx')
# Read the cell label
#matrix_dp.shape
df_cell_label = pd.read_csv('/home/junyi/code/treevae/data/Variant/bpdcn712_assemble_trimmed_aligned_mt_addtag_cellSNP0_WaldVariant_paperCell/cell_label.csv')
var_name = pd.read_csv('/home/junyi/code/treevae/data/Variant/bpdcn712_assemble_trimmed_aligned_mt_addtag_cellSNP0_WaldVariant_paperCell/passed_variant_names.txt',header=None)
sample_name = pd.read_csv('/home/junyi/code/treevae/data/Variant/bpdcn712_assemble_trimmed_aligned_mt_addtag_cellSNP0_WaldVariant_paperCell/passed_sample_names.txt',header=None)

In [7]:
df_cell_label[df_cell_label]

               barcode       true_label
0     AAACCCAGTCTTGCTC     CASSLVEEKLFF
1     AAACCCAGTGAACGGT  CASSLTGGSYNEQFF
2     AAACCCATCTAGCCTC  CASSQAGAANTEAFF
3     AAACCCATCTCCTGAC     CASSPFEETQYF
4     AAACGAACATGTGCCG     CASSPFEETQYF
...                ...              ...
2232  TTTGGTTAGCATTGAA     CASSLVEEKLFF
2233  TTTGGTTCAGGACATG  CASSLTGGSYNEQFF
2234  TTTGTTGCAAAGGTTA     CASSPFEETQYF
2235  TTTGTTGCACTGGACC     CASSLVEEKLFF
2236  TTTGTTGTCGTGGGTC  CASSQVGHSADTQYF

[2237 rows x 2 columns]

In [5]:
sample_name

                     0
0     AAACCCAGTCTTGCTC
1     AAACCCAGTGAACGGT
2     AAACCCATCTAGCCTC
3     AAACCCATCTCCTGAC
4     AAACGAACATGTGCCG
...                ...
2232  TTTGGTTAGCATTGAA
2233  TTTGGTTCAGGACATG
2234  TTTGTTGCAAAGGTTA
2235  TTTGTTGCACTGGACC
2236  TTTGTTGTCGTGGGTC

[2237 rows x 1 columns]

In [6]:
df_cell_label

               barcode       true_label
0     AAACCCAGTCTTGCTC     CASSLVEEKLFF
1     AAACCCAGTGAACGGT  CASSLTGGSYNEQFF
2     AAACCCATCTAGCCTC  CASSQAGAANTEAFF
3     AAACCCATCTCCTGAC     CASSPFEETQYF
4     AAACGAACATGTGCCG     CASSPFEETQYF
...                ...              ...
2232  TTTGGTTAGCATTGAA     CASSLVEEKLFF
2233  TTTGGTTCAGGACATG  CASSLTGGSYNEQFF
2234  TTTGTTGCAAAGGTTA     CASSPFEETQYF
2235  TTTGTTGCACTGGACC     CASSLVEEKLFF
2236  TTTGTTGTCGTGGGTC  CASSQVGHSADTQYF

[2237 rows x 2 columns]

In [17]:
#df_cell_label["barcode"] = df_cell_label["barcode"].str.replace("-1","")

In [24]:
sample_name.set_index(0,inplace=True)
df_cell_label.set_index('barcode',inplace=True)
df_sorted_label = df_cell_label.loc[sample_name.index].reset_index()

In [25]:
df_sorted_label

                     0 true_label
0     AAACCCACAGCTACAT       K562
1     AAACCCAGTGATCGTT       K562
2     AAACCCATCCCTTGTG      BT142
3     AAACGAAGTACCACGC      BT142
4     AAACGAATCCCAGTGG       K562
...                ...        ...
2650  TTTGGTTTCAAGTGGG      BT142
2651  TTTGGTTTCCGATAAC      BT142
2652  TTTGGTTTCGCAACAT       K562
2653  TTTGTTGAGACCTTTG       K562
2654  TTTGTTGAGCTAGCCC      BT142

[2655 rows x 2 columns]

In [26]:
df_sorted_label.columns = ['barcode','true_label']
#df_sorted_label.to_csv('/home/junyi/code/treevae/data/Variant/trimmed_starsolo_chrM_cellSNP0_WaldVariant_paperCell/cell_label.csv',index=False)

In [6]:
sample_name = sample_name[0].values

In [ ]:

from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
# Fit the label encoder on the labels
label_encoder.fit(df_cell_label["true_label"].values)
# Transform the labels into encoded values
encoded_labels = label_encoder.transform(df_cell_label["true_label"].values)

# Print the encoded labels

encoded_labels
df_cell_label.head()
set(df_cell_label["true_label"].values)
matrix_ad_dp = matrix_ad/matrix_dp
matrix_ad_dp = matrix_ad_dp.T
from sklearn.model_selection import train_test_split
X_train_val, X_test, y_train_val, y_test = train_test_split(matrix_ad_dp, encoded_labels, test_size=0.2, random_state=42)
#X_train, X_val, y_train, y_val = train_test_split(X_train_val, y_train_val, test_size=0.2, random_state=42)

In [8]:
sample_name.set_index(0,inplace=True)
df_cell_label.set_index('barcode',inplace=True)
df_sorted_label = df_cell_label.loc[sample_name.index].reset_index()

In [17]:
df_sorted_label.columns = ['barcode','true_label']
df_sorted_label.to_csv('/home/junyi/code/treevae/data/Variant/trimmed_starsolo_chrM_cellSNP0_WaldVariant_paperCell/cell_label.csv',index=False)

In [47]:
X_train.shape

(1699, 3972)

In [48]:
X_train

matrix([[0.        , 0.        , 0.        , ..., 0.00218818, 0.        ,
         0.00348432],
        [0.        , 0.        , 0.        , ..., 0.00090334, 0.00290276,
         0.01061224],
        [0.        , 0.        , 0.        , ..., 0.00148588, 0.00159744,
         0.00273224],
        ...,
        [0.        , 0.        , 0.        , ..., 0.00847458, 0.        ,
         0.01587302],
        [0.        , 0.        , 0.0023753 , ..., 0.00733945, 0.        ,
         0.00578035],
        [0.        , 0.        , 0.        , ..., 0.00696864, 0.        ,
         0.01142857]])

In [49]:
torch.from_numpy(X_train)

tensor([[0.0000, 0.0000, 0.0000,  ..., 0.0022, 0.0000, 0.0035],
        [0.0000, 0.0000, 0.0000,  ..., 0.0009, 0.0029, 0.0106],
        [0.0000, 0.0000, 0.0000,  ..., 0.0015, 0.0016, 0.0027],
        ...,
        [0.0000, 0.0000, 0.0000,  ..., 0.0085, 0.0000, 0.0159],
        [0.0000, 0.0000, 0.0024,  ..., 0.0073, 0.0000, 0.0058],
        [0.0000, 0.0000, 0.0000,  ..., 0.0070, 0.0000, 0.0114]],
       dtype=torch.float64)